@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply text-primary bg-body;
  }

  p {
    @apply text-secondary;
  }

  .h1 {
    @apply text-4xl xl:text-[60px] text-preincipal xl:leading-[68px] font-extrabold mb-[16px];
  }

  .h2 {
    @apply text-4xl mb-6 font-bold;
  }

  .h3 {
    @apply text-xl mb-4 font-semibold;
  }

  .description{
    @apply text-base xl:text-xl xl:leading-5;
  }

  .section {
    @apply w-full h-screen pt-[60px] w-full xl:pt-[120px];
  }
  .btn {
    @apply rounded-[10px] w-full uppercase font-medium
    text-white tracking-[2px] text-[13px] flex justify-center
    items-center transition-all duration-300;
  }

  .btn-sm{
    @apply h-14;
  }
  .btn-lg{
    @apply h-16;
  }
  .btn-cat{
    @apply bg-primary h-[54px] rounded-[5px] px-4
    transition-all duration-300
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary;
  }
  .btn-accent {
    @apply bg-accent hover:bg-accent-hover;
  }
  .active{
    @apply text-accent;
  }
}